.container{
  background-color: rgb(177, 197, 190);
 width: auto;
 height: auto;
 align-items: center;


}
section{
margin-left: 45%;
}
.opciones{
  background-color: rgb(26, 25, 25);
  width: 50%;
  height: 15%;
}
tbody tr:nth-child(odd) {
  background-color: #bdaeae;
}

tbody tr:nth-child(even) {
  background-color: #e7d9d9;
}

tbody tr {
  background-color: bisque;
}

table {
  background-color: #696666;
}