<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<body>

<app-header>

</app-header>
<app-body></app-body>
  <!-- Resources -->
  <app-footer></app-footer>

    
</body>
  <!-- Footer -->
  
  <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
  <div *ngFor="let unDeportista of deportista; index as i; first as f; last as I; odd as o; even as e">' + <b>{{
    unDeportista }}: </b> su índice : {{i}}, es el primero de la lista : {{f}}, es el último: {{I}}, es un número
    impar : ((0)), es un número par : ((e))
    
    </div> -->
   
 


<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
